@inherits DynamicChartBase
<div class="row">
    <h3>Dynamic Chart</h3>

    @if (ChartType == ChartType.Bar)
    {
        <div class="col-12">
            <Chart @ref="chart" Type="ChartType.Bar" TItem="double" />
        </div>
    }

    @*@if (ChartType == ChartType.Line)
    {
        <div class="col-12">
            <LineChart @ref="lineChart" Type="ChartType.Line" TItem="double" />
        </div>
    }

    @if (ChartType == ChartType.Pie)
    {
        <div class="col-12">
            <Chart @ref="pieChart" Type="ChartType.Pie" TItem="double" />
        </div>
    }

    @if (ChartType == ChartType.PolarArea)
    {
        <div class="col-12">
            <Chart @ref="polarAreaChart" Type="ChartType.PolarArea" TItem="double" />
        </div>
    }*@

</div>





