@page "/"

@using BlazorApp1.Data

@*<Dashboard OnPromoDataListChanged="@UpdateList"></Dashboard>*@


<div class="shadow p-3 mb-5 rounded">
    <ExcelDatasource @bind-PromoDataList="@PromoDataList"></ExcelDatasource>
</div>

<div class="shadow p-3 mb-5 bg-white rounded">
    <PromoTable Data="@PromoDataList"></PromoTable>
</div>


@code{
    [Parameter] public List<PromoData> PromoDataList { get; set; }
}
